        table{
            width: 100%;
            border-collapse: collapse;
        }
        table,th,td{
            border: 1px solid black;
        }
        th,td{
            padding: 8px;
            text-align: left;
        }
        .tombol {
            margin-top: 10px;
        }
        .tombol tombol {
            padding: 20px 30px;
            margin: 0 5px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            height: 20px;
        }
        .tombol .login {
            background-color: rgb(43,191,254);
            color: #000;
            border-radius:1000vh;
            width: 20vh;
        }
           body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }
        .header {
            background-color: #8E4162;
            padding: 20px;
            text-align: center;
        }
        .header h1 {
            margin: 0;
            font-size: 24px;
            color: yellow;
        }
        .header p {
            margin: 5px 0 0;
            color: yellow;
        }
        .tombol {
            margin-top: 10px;
        }
        .tombol tombol {
            padding: 20px 30px;
            margin: 0 5px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            height: 20px;
        }
        .tombol .login {
            background-color: rgb(43,191,254);
            color: #666;
            border-radius:1000vh;
            width: 20vh;
        }
        .image-container {
            text-align: center;
            margin-top: 20px;
        }
        .image-container img {
            max-width: 100%;
            height: auto;
            border-radius: 5vh;
        }
